<!DOCTYPE html>
<html class="flex">

<head>
    <title>Stock Price Checker</title>
    <link id="favicon" rel="icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
        type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./public/style.css" />
</head>

<body class="flex">
    <header class="titles">
        <h1>Stock Price Checker</h1>
        <p class="subtitle">This is a web app that return up-to-date stock prices.</p>
    </header>

    <hr />
    <div id="testui" class="flex flex-row wrap">

        <div class="form-container">
            <h3>Get single price and total likes</h3>
            <form id="testForm2">
                <input type="text" name="stock" placeholder="GOOG" required="" />
                <label><input type="checkbox" name="like" value="true" /> Like?</label>
                <button type="submit">Get Price!</button>
            </form>
        </div>

        <div class="form-container">
            <h3>Compare and get relative likes</h3>
            <form id="testForm">
                <input type="text" name="stock" placeholder="GOOG" required="" />
                <input type="text" name="stock" placeholder="MSFT" required="" />
                <label><input type="checkbox" name="like" value="true" /> Like both?</label>
                <button type="submit">Get Price!</button>
            </form>
        </div>


    </div>
    <div id="jsonDisplay" class="flex">
        <code id="jsonResult"></code>
    </div>
    <hr />
    <div id="userstories" class="flex usage">
        <h2>Usages</h2>
        <h3>GET request example usage</h3>
        <code>[your_url]/api/stock-prices?stock=GOOG
        
[your_url]/api/stock-prices?stock=GOOG&amp;like=true
        
[your_url]/api/stock-prices?stock=GOOG&amp;stock=MSFT
        
[your_url]/api/stock-prices?stock=GOOG&amp;stock=MSFT&amp;like=true</code>
        <h3>Example return</h3>
        <p class="text">GET single price and total likes return:</p>
        <code>{ 
  "stockData": 
    { 
      "stock": "GOOG", 
      "price": 786.90, 
      "likes": 1 
    }
}</code>
        <p class="text">GET compare and get relative likes return:</p>
        <code>{ 
  "stockData": 
    [ 
      { "stock": "MSFT", "price": 62.30, "rel_likes": -1 },
      { "stock": "GOOG", "price": 786.90, "rel_likes": 1 } 
    ] 
}</code>
    </div>
    <div class="footer">
        Created by
        <a href="https://github.com/odakris?tab=repositories" target="_blank">odakris</a>
        </p>
    </div>
    <script src="/public/script.js"></script>
</body>

</html>